body {
  background-color: hsl(203, 41%, 72%);
}

.div-1 {
  background-color: white;
}

.div-2 {
  display: flex;
  gap: 100px;
}

.div-2 p {
  margin-top: 30px;
  color: hsl(203, 41%, 72%);
}

.p-1 {
  color: hsl(203, 41%, 72%);
}

.div-3 {
  display: flex;
  border: 1px black solid;
  width: 500px;
  height: 50px;
}

.div-3 p {
  background-color: hsl(203, 41%, 72%);
  height: 30px;
  width: 30px;
}

.div-3 input {
  border: 5px;
  height: 50px;
  margin-top: 14px;
}
